#head{
  border: 0.1cm;
  border-style: dotted;
  opacity: unset;
  margin: 0px ;
  background-size: cover;
  background-color: rgb(136, 145, 154);
  font-style: inherit;
  font-weight: 900;
  text-align: center;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
  body{
  background-color: rgb(26, 109, 104);
 }
 #head2{
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  color: rgba(181, 40, 40, 0.934);
 }
section div p{
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
 }
 p{
  border-style: solid;
  flex-wrap: wrap;
  display: grid;
  display: inline-flexbox;
 }
 #general{
object-fit: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 260px;
  display: block;
  
 }
.image{
  display: grid;
  object-fit: ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  image-resolution: 10/19;
  block-size: auto;
  
 }
.img{
  display: grid;
  aspect-ratio: 30/30;
     margin: 2cm;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2.1fr);

 }
#cover{
  object-fit: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 300px;
  display: block;
  margin: 0%;
  padding: 0%;
 }
 .photos{
  color: darkgreen;
  text-align: center;
  display: block;
 }
 #ppp{
  height: 7cm;
  width: 7cm;
 }
 .head3{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  color: rgba(181, 40, 40, 0.934);
 }
 #FOOT{
  background-color: rgb(0, 0, 0);
  color: rgb(185, 221, 218);
  height: 2cm;
  font-size: x-large;
  text-align: center;
  padding-top: 2cm;
  object-fit: cover;
  margin: 0px;
  background-size:0cm;

 }

@media screen and (min-width: 480px) {
    body {
        color: white;
    }
