#head{
  border: 0.1cm;
  border-style: dotted;
  opacity: unset;
  margin: 0px ;
  background-size: cover;
  background-color: rgb(136, 145, 154);
  font-style: inherit;
  font-weight: 900;
  text-align: center;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
  body{
  background-color: rgb(193, 237, 237);
 }