#head{
  border: 0.1cm;
  border-style: dotted;
  opacity: unset;
  margin: 0px ;
  background-size: cover;
  background-color: rgb(136, 145, 154);
  font-style: inherit;
  font-weight: 900;
  text-align: center;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
  body{
  background-color: rgb(193, 237, 237);
 }
 #head2{
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  color: rgba(181, 40, 40, 0.934);
 }
